$session_padding: 8px;
$unfocused_opacity: 0.5;
$time_width: 200px;
$note_color: #F99;
$vote_color:  #f89a1b;
$reading_list_color: #65dc33;
$schedule_color: #47c8fa;

$highlight_color: #1EAEDB;

.highlight {
	color: black;
    background-color:   #E2FF00;
}
.program_header {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	padding-left: $session_padding;
	clear: both;
	overflow: auto;
	
	.ca-button {
		float: right;
		cursor: pointer;
		&:hover {
			background-color: #F8F8F8;
		}
		border: 1px solid #DDD;
		border-radius: 3px;
		padding: 5px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.ca_search {
		background-color: white;
		padding: 10px;
		label {
			margin-right: 5px;
			float: left;
		}
		input {
			font-size: 1.2em;
			width: 400px;
			margin-bottom: 5px;
		}
		.clearSearch {
			display: none;
			margin-left: 5px;
			margin-right: 5px;
			text-decoration: none;
		}
		&.sticky {
			position: fixed;
			top: 0px;
			z-index: 100;
			border: 1px solid #CCC;
			padding: 5px;
			background-color: #EEE;
			border-radius: 3px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-top: none;

			.clearSearch {
				display: inline;
			}
		}
	}
}

.conference_days {
	margin-top: 50px;
	.conference_day {
		.day_header {
			padding-left: $session_padding;
			.day_of_week {
				padding-right: 10px;
			}
			.date {
				opacity: $unfocused_opacity;
			}
			//border-bottom: 1px solid #EEE;
		}
		.sessions {
			.location {
				&:hover {
					text-decoration: underline;
				}
			}
			.time_slot {
				margin-top: 10px;
				margin-bottom: 10px;

				&.plural {
					border: 1px solid #EEE;
					border-radius: 3px;

					.time_slot_header {
						.weekday {
							opacity: $unfocused_opacity;
						}
						background-color: #EEE;
						margin-bottom: 0px;
					}
				}

				.time_slot_header {
					padding-left: $session_padding;
					padding-right: $session_padding;
				}


				.sessions {
					&.plural {
						padding: $session_padding;
					}
					.session {
						border-radius: 3px;
						padding: 8px;
						cursor: pointer;
						&.searchResult {
							border: 1px solid $highlight_color;
						}
						&.notSearchResult {
							opacity: 0.2;
						}
						&:hover {
							background-color: #F8F8F8;
						}
						&.singular {
							&.hasTime {
								.sessionInfo {
									padding-left: $time_width;
								}
								.user_data {
									padding-left: $time_width;
								}
								.time {
									width: $time_width;
									display: inline-block;
								}
							}
						}

						&.expanded {
							background-color: #F8F8F8;
							border: 1px solid #CCC;
							border-bottom: #F8F8F8;
							border-bottom-right-radius: 0px;
							border-bottom-left-radius: 0px;
							position: relative;
							top: 1px;
						}

						.session_header {
							margin-bottom: 0px;
							.time {
								.weekday {
									opacity: $unfocused_opacity;
								}
							}
						}
						.sessionInfo {
							opacity: $unfocused_opacity;
						}
					}
					.expanded_session { background-color: #F8F8F8;
						border: 1px solid #CCC;
						&.searchResult {
							border: 1px solid $highlight_color;
						}
						margin-bottom: 5px;
						.chair {
							padding-top: 10px;
							padding-bottom: 10px;
							padding-left: $session_padding;
							border-bottom: 1px solid #DDD;
							.name {
								font-weight: bold;
							}

							.affiliation {
								font-weight: normal;
								opacity: $unfocused_opacity;
							}
							.name,.affiliation {
								cursor: pointer;
								&:hover {
									text-decoration: underline;
								}
							}
						}
						.presentation.expanded {
							&.notSearchResult {
								opacity: 0.3;
							}
							&.searchResult {
								border-left: 3px solid $highlight_color;
							}
							border-bottom: 1px solid #CCC;
							&:nth-child(even) {
								background-color: #F0F0F0;
								.authorList {
									border-bottom: 1px solid #DDD;
								}
							}
							&:last-child {
								border-bottom: none;
							}

							.annotation { // e.g. best paper award
								margin-left: 5px;
								margin-right: 5px;
							}

							padding: 8px;
							.presentationTitle {
								margin-bottom:0px;
								a.scrollToTimeSlot {
									float: right;
									text-decoration: none;
									color: #AAA;
								}
							}
							.presentation_type {
								opacity: $unfocused_opacity;
							}
							.authorList {
								padding-top: 5px;
								margin-top: 5px;
								border-bottom: 1px solid #EEE;
								padding-bottom: 5px;
								margin-bottom: 5px;
								.person {
									.name {
										line-height: 1em;
										margin-bottom: 1px;
										margin-top: 1px;
										cursor: pointer;

										&:hover {
											text-decoration: underline;
										}
									}
									.affiliation {
										opacity: $unfocused_opacity;
										line-height: 1em;
										font-size: 0.9em;
										margin-bottom: 1px;
										margin-top: 1px;
										cursor: pointer;

										&:hover {
											text-decoration: underline;
										}
									}
									text-align: left;
									margin-top: 5px;
									margin-bottom: 5px;
								}
							}
							.abstract {
								line-height: 1.2em;
								font-size: 0.9em;
								text-align: justify;
								padding-right: 5px;
							}
							.no_abstract {
								text-align: center;
								color: #AAA;
								padding: 20px;
							}
						}
					}
					.slot_bubbles {
						width: 100%;
						margin-bottom: 0px;

						.slot_bubble {
							border-radius: 4px;
							height: 8px;
							border: 1px solid #CCC;
							background-color: #EEE;
							opacity: 0.6;

							&.notSearchResult {
								opacity: 0.1;
							}

							&:hover {
								border: 1px solid #AAA;
								opacity: 1.0;
							}

							&.searchResult {
								border: 1px solid $highlight_color;
								opacity: 1.0;
							}

							&.note { background-color: $note_color; }
							&.vote { background-color: $vote_color; }
							&.reading_list { background-color: $reading_list_color; }
							&.schedule { background-color: $schedule_color; }

							.annotation {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}

	.user_data {
		.toggleButton {
			font-size: 0.95em;
			text-transform: uppercase;
			cursor: pointer;
			color: #AAA;
			padding-top: 2px;
			padding-bottom: 2px;

			img {
				position: relative;
				top: 2px;
			}

			&:hover {
				background-color: #EEE;
			}

			&.active {
				&.vote { color: $vote_color; }
				&.note { color: $note_color; }
				&.reading_list { color: $reading_list_color; }
				&.schedule { color: $schedule_color; }
			}
		}

		.note {
			&.display {
				font-size: 0.9em;
				color: $note_color;
			}
			&.display.placeholder {
				color: #AAA;
			}
			textarea {
				width: 100%;
				border: 1px solid $note_color;
				margin-bottom: 2px;
				padding: 3px;
			}

			.note_button {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 0.8em;
				&.save {
					margin-right: 8px;
					color: green;
				}
				&.cancel {
					color: #900;
				}
			}
		}
	}
}

$tooltip_width: 350px;
.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
	width: $tooltip_width;
	border-radius: 3px;

	.ui-tooltip-content {
	    position: relative;
	    padding: 1em;
		font-size: 0.9em;

		.title {
			color: white;
		}
		.authors {
			color: #BBB;
			font-size: 0.9em;
		}
		.user_annotations {
			margin-top: 5px;
			img.userData {
				margin-right: 5px;
			}
		}
		.annotations {
			.annotation {
				color: #BBB;
				//background-color: #999;
				//color: black;
				overflow: hidden;
				border-radius: 5px;
				img {
					filter: invert(100%);
					-webkit-filter: invert(1);
					opacity: 0.5;
				}
			}
		}
	}
	.ui-tooltip-content::after {
	    content: '';
	    position: absolute;
	    border-style: solid;
	    display: block;
	    width: 0;

	    bottom: -5px;
		left: $tooltip_width/2;
	    border-color: #666 transparent;
	    border-width: 5px 5px 0;
	}
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-autocomplete {
	background-color: white;
	position: fixed;
	font-size: 0.8em;
	z-index: 500;
	li {
		list-style-type: none;
		margin-bottom: 0px;
		border-bottom: 1px solid #F0F0F0;
		padding-left: 5px;
		padding-right: 5px;
		cursor: pointer;
		&:hover {
			background-color: #FAFAFA;
		}

		&:nth-child(even) {
			background-color: #FCFCFC;
		}
		&:last-child {
			border-bottom: none;
		}

		&.ui-autocomplete-category {
			font-weight: bold;
			background-color: #DDD;
			cursor: default;
			&:hover {
				background-color: #DDD;
			}
		}
	}
	border: 1px solid #CCC;
	border-radius: 3px;
	max-width: 500px;
	overflow: hidden;
}

.ui-dialog.voter_id {

	.ui-dialog-titlebar {
		display: none;
	}

	background-color: white;
	border: 1px solid #333;
	border-radius: 3px;
	z-index: 10;

	.instructions {
		margin-bottom: 5px;
		padding: 10px;
	}

	.voter_id_feedback {
		padding: 10px;
		&.success {
			color: #3c763d;
			background-color: #dff0d8;
		}
		&.error {
			color: #a94442;
			background-color: #f2dede;
		}
		&.waiting {
			color: #8a6d3b;
			background-color: #fcf8e3;
		}
	}
	input {
		margin-left: 10px;
		&.success {
			border: 1px solid #3c763d;
			color: #3c763d;
		}
		&.error {
			border: 1px solid #a94442;
			color: #a94442;
		}
		&.waiting {
			border: 1px solid #8a6d3b;
			color: #8a6d3b;
		}
	}

	.submit_buttons {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.ui-widget-overlay.ui-front {
	opacity: 0.7;
	background-color: #333;
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
}
